@media screen and (min-width:300px) and (max-width:550px){
    .header-ul a{
        text-decoration:none; 
        display:inline-block;
        color:white;
        text-align:center;
        border-radius:5px;
        transition:1s ; 
        list-style:none;
        margin-top:40px;
    }
    
    .header-ul a:hover{
        color:gold;
        
    }
    
    .header-ul{
        list-style:none;
    }

    .header-ul > li{
        float:left;
        font-size:10px;
        margin-left:15px;
    }

    #first-div{
        display:flex; 
        flex-direction: row;  
        margin-bottom: 50px; 
        justify-content:left;
    }

 
     #first-img{
         border-radius: 100%; 
         margin-top:70px; 
         width:100%; 
         position:absolute;
     }

    #gradient-text{
        text-align:left; 
        margin-top: 25%; 
        font-size:20px; 
        font-family:Sevillana;
    }

    #first-text{
        font-family:Sevillana; 
        text-align:center; 
        font-size:13px; 
        color:white;
    }

    #chapel-img{
        border-radius:100%; 
        width:60%; 
    }
    
    #chapel-img:hover{
        box-shadow: 0 4px 8px grey;
        border: 3px solid rgb(80, 80, 80); 
    }
    
    #chapel-img {
        transition: box-shadow 0.3s ease, border 0.3s ease;
        box-shadow: 0 4px 8px rgb(80, 80, 80);
    }
    #intro{
        display:flex; 
        flex-direction: column; 
        justify-content:center; 
        position:relative;
    }

    .bold{
        color:black; 
        font-size:10px;
    }

    .italic{
        font-size:9px; 
        color:black;
    }
}


@media screen and (min-width:551px) and (max-width:767px) {
    .header-ul a{
        text-decoration:none; 
        display:inline-block;
        color:white;
        text-align:center;
        border-radius:5px;
        transition:1s ; 
        list-style:none;
        margin-top:40px;
    }
    
    .header-ul a:hover{
        color:gold;
        
    }
    
    .header-ul{
        list-style:none;
    }
    
    .header-ul > li{
        float:left;
        font-size:10px;
        margin-left:15px;
    }



    #first-div{
        display:flex; 
        flex-direction: row;  
        margin-bottom: 50px; 
        justify-content:left;
    }
 
     #first-img{
         border-radius: 100%; 
         margin-top:70px; 
         width:100%; 
         position:absolute;
     }

     #gradient-text{
        text-align:left; 
        margin-top: 15%; 
        font-size:25px; 
        font-family:Sevillana;
        
    }

    #first-text{
        font-family:Sevillana; 
        text-align:center;  
        font-size:15px; 
        color:white;
    }

    #chapel-img{
        border-radius:100%; 
        width:70%; 
    }
    
    #chapel-img:hover{
        box-shadow: 0 4px 8px grey;
        border: 3px solid rgb(80, 80, 80); 
    }
    
    #chapel-img {
        transition: box-shadow 0.3s ease, border 0.3s ease;
        box-shadow: 0 4px 8px rgb(80, 80, 80);
    }
    #intro{
        display:flex; 
        flex-direction: column; 
        justify-content:center; 
        position:relative;
    }
 
     .bold{
         color:black; 
         font-size:15px;
     }
 
     .italic{
         font-size:9px; 
         color:black;
     }
   
}

@media screen and (min-width:767px) and (max-width:991px){
    .header-ul a{
        text-decoration:none; 
        display:inline-block;
        color:white;
        text-align:center;
        border-radius:5px;
        transition:1s ; 
        list-style:none;
        margin-top:40px;
    }
    
    .header-ul a:hover{
        color:gold;
        
    }
    
    .header-ul{
        list-style:none;
    }

    .header-ul > li{
        float:left;
        font-size:15px;
        margin-left:15px;
    }

    #first-div{
        display:flex; 
        flex-direction: row;  
        margin-bottom: 50px; 
        justify-content:left;
    }

     #first-img{
         border-radius: 100%; 
         margin-top:70px; 
         width:100%; 
         position:absolute;
     }

     #gradient-text{
        text-align:left; 
        margin-top: 15%; 
        font-size:30px; 
        font-family:Sevillana;
    }

    #first-text{
        font-family:Sevillana; 
        text-align:center;  
        font-size:17px; 
        color:white;
    }

    #chapel-img{
        border-radius:100%; 
        width:80%; 
    }
    
    #chapel-img:hover{
        box-shadow: 0 4px 8px grey;
        border: 3px solid rgb(80, 80, 80); 
    }
    
    #chapel-img {
        transition: box-shadow 0.3s ease, border 0.3s ease;
        box-shadow: 0 4px 8px rgb(80, 80, 80);
    }
    #intro{
        display:flex; 
        flex-direction: row; 
        justify-content:center; 
        position:relative;
    }
 
     .bold{
         color:black; 
         font-size:18px;
     }
 
     .italic{
         font-size:10px; 
         color:black;
     }
}

@media screen and (min-width:992px) and (max-width:1999px){
    .header-ul a{
        text-decoration:none; 
        display:inline-block;
        color:white;
        text-align:center;
        border-radius:5px;
        transition:1s ; 
        list-style:none;
        margin-top:40px;
    }
    
    .header-ul a:hover{
        color:gold;
        
    }
    
    .header-ul{
        list-style:none;
    }

    .header-ul > li{
        float:left;
        font-size:18px;
        margin-left:15px;
    }

    #first-div{
        display:flex; 
        flex-direction: row;  
        margin-bottom: 50px; 
        justify-content:left;
    }
 
     #first-img{
         border-radius: 100%; 
         margin-top:70px; 
         width:100%; 
         position:absolute;
     }
     #gradient-text{
        text-align:left; 
        margin-top: 20%; 
        font-size:35px; 
        font-family:Sevillana;
    }
    #first-text{
        font-family:Sevillana; 
        text-align:center; 
        font-size:17px; 
        color:white;
    }

    #chapel-img{
        border-radius:100%; 
        width:50%; 
    }
    
    #chapel-img:hover{
        box-shadow: 0 4px 8px grey;
        border: 3px solid rgb(80, 80, 80); 
    }
    
    #chapel-img {
        transition: box-shadow 0.3s ease, border 0.3s ease;
        box-shadow: 0 4px 8px rgb(80, 80, 80);
    }
    #intro{
        display:flex; 
        flex-direction: row; 
        justify-content:center; 
        position:relative;
    }
     .bold{
         color:black; 
         font-size:20px;
     }
 
     .italic{
         font-size:10px; 
         color:black;
     }
}

@media screen and (min-width:1200px) and (max-width:1800px){
    .header-ul a{
        text-decoration:none; 
        display:inline-block;
        color:white;
        text-align:center;
        border-radius:5px;
        transition:1s ; 
        list-style:none;
        margin-top:40px;
    }
    
    .header-ul a:hover{
        color:gold;
        
    }
    
    .header-ul{
        list-style:none;
    }

    .header-ul > li{
        float:left;
        font-size:20px;
        margin-left:15px;
    }

    #first-div{
        display:flex; 
        flex-direction: row;  
        margin-bottom: 50px; 
        justify-content:left;
    }

    #first-img{
        border-radius: 100%; 
        margin-top:70px; 
        width:100%; 
        position:absolute;
    }

    #first-text{
        font-family:Sevillana; 
        text-align:center; 
        font-size:17px; 
        color:white;
    }

    #chapel-img{
        border-radius:100%; 
        width:100%; 
    }
    
    #chapel-img:hover{
        box-shadow: 0 4px 8px grey;
        border: 3px solid rgb(80, 80, 80); 
    }
    
    #chapel-img {
        transition: box-shadow 0.3s ease, border 0.3s ease;
        box-shadow: 0 4px 8px rgb(80, 80, 80);
    }

    #intro{
        display:flex; 
        flex-direction: row; 
        justify-content:center; 
        position:relative;
    }
 
     .bold{
         color:black; 
         font-size:25px;
     }
 
     .italic{
         font-size:15px; 
         color:black;
     }
}
